
body {
    padding-bottom: 60px;   

    background-image: url("../images/woods.jpg"); 
    background-repeat: no-repeat;    
    background-size: cover; 

}
.jumbotron-content {
    padding: 20px 20px 200px 50px; 
    

   
}
section{
    background-color:lightgreen;
    border-radius: 25px;    
}

p{
    font-family: 'Indie Flower', cursive;
    font-size: large;
    font-weight: 700;
}

.container{
    font-weight: 300;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    
}
/* Size of the font on the index page */
.lead{
    font-size: 60px;
}

.container2{
    border: 6px solid #B58B79;
    border-radius: 15px;

}
.linktab{
    
    font-weight: auto;
    font-size: 50px;
    text-shadow: 1px 3px 3px #413733;
    margin-top: auto;
    padding: 5px;
}
.footer{
    margin-top: auto;
    padding: 5px;
    font-weight: auto;
    font-size: 64px;
   
}
