
body {
    padding-bottom: 60px;   

    background-image: url("../images/woods.jpg"); 
    background-repeat: no-repeat;    
    background-size: cover; 

}
.jumbotron-content {
    padding: 20px 20px 200px 50px; 
   
}
section{
    background-color:lightgreen;
    border-radius: 25px;    
}

p{
    font-family: 'Indie Flower', cursive;
    font-size: large;
    font-weight: 700;
}

.container{
    font-weight: 300;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    
}
/* Size of the font on the index page */
.lead{
    font-size: 60px;
}