.screen{
    background-image: url("../images/woods.jpg");
    padding-bottom: 60px; 
    background-position: cover; 
    background-repeat: no-repeat; 

}


body {
    padding-bottom: 60px;   

    background-image: url("../images/woods.jpg"); 
    background-repeat: no-repeat;    
    background-size: cover; 
    background-position: cover;
    height: 100vh;


}
.jumbotron-content {
    padding: 20px 20px 200px 40px;   
}
section{
    background-color:lightgreen;
    border-radius: 50px; 
    background-size: auto;

   
}

p{
    font-family: 'Indie Flower', cursive;
    font-size: large;
    font-weight: 700;
}

.container{
    font-weight: auto;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    
}
/* Size of the font on the index page */
.lead{
    font-size: 60px;
}

.container2{
    border: 6px solid #B58B79;
    border-radius: 15px; 

}
.linktab{
    
    font-weight: auto;
    font-size: 50px;
    text-shadow: 1px 3px 3px #413733;
    margin-top: auto;
    padding: 5px;
}
.footer{
    margin-top: auto;
    padding: 10px;
    font-weight: auto;
    font-size: 64px;
    text-align: justify;
   
}
#aboutme {
    margin-top: 20px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 2px rgb(24, 24, 24);
    border-radius: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 16px;
    color: black;    
  }
img{
    border-radius: 10px;
}

